<footer class="footer has-background-logo">
  <div class="content has-text-centered">
    <p class="has-text-white">
      <strong class="has-text-white">TO DO LIST</strong> by Diego Lourenço.
    </p>
  </div>
</footer>