<div id="modal-id" class="modal modal-fx-fadeInScale">
  <div class="modal-background"></div>
  <div class="modal-content">
      <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>