<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lista de Tarefas</title>
  {{ style('css/mystyles') }}
  {{ script('scripts/menu') }}
</head>
<body>
  @!component('components.header')
  @!section('content')
  @!component('components.footer')
</body>
</html>