@layout('layout.app')

@section('content')
  @component('components.container', additionalClasses = ['has-background-light', 'is-centered', 'is-mobile', 'is-vcentered', 'mb-0'])
    @slot('body')
    
    @endslot
  @endcomponent
@endsection